@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
}
body {
    /* background-color: #0c0c0c;
    color: white; */
    /* display-text2 {
        color: #d5d5d5
     } 
     header,footer,triangle {
        background-color: #264577
     }
     span1,span2 {
        color: #d5d5d5
     }
     side-header ul i {
         color: #d5d5d5
     }*/
}

body p {
    line-height: 128%;
    color: #010101;
    scroll-behavior: smooth;
}

.landing-page {
    height: auto;
    width: 100%;
    position: relative;
}

.header{
    height: auto;
    width: 100%;
    padding: 2rem 0;
    position: sticky;
    /*  #264577 */
    background-color: #2A3E5E;
    top: 0;
}

.logo-links-div {
    margin: 0 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo-links-div h2 {
    color: white;
}

.header-ul{
list-style: none;
display: flex;
flex-direction: row;
justify-content: flex-end;
column-gap: 2rem;
}

.header-ul li {
    font-size: 18px;
}

.header-ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header-ul li a:after{
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.header-ul li a:hover:after {
    transform: scale(1);
}

.menu-div {
    display: none;
}

.menu-div i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu li {
    list-style: none;
    padding: 0.5rem 0;
}

.menu li a {
    color: white;
}
.menu li a:after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    transition: transform 0.3c ease;
    transform: scale(0);
}

.menu li a:hover:after {
    transform: scale(1);
}

.display-div {
    margin-top: 7rem;
    margin-left: 220px;
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    column-gap: 2rem;
    /* background-color: #f4f4f4; */
}

.right-display {
    /* background-color: azure; */
    display: flex;
    flex-direction:column-reverse;
   justify-content:space-between;
   align-items: center;
}

.display-div h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
}

.display-text1 {
    font-size: 24px;
    margin-top: 0.5rem;
}

.display-text2 {
    font-size: 18px;
    margin-top: 2rem;
    /* color: #d5d5d5 */
    color:#242424;
}

.triangle {
    width: 0;
    height: 0;
    border: 8px dotted rgb(224, 52, 81);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 87px solid #2A3E5E;
  }

.side-header {
    width: 14%;
    height: auto;
    float: left;
    position: fixed;
    margin-top: 20%;
    /* background-color: aqua; */
}

.side-header ul {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    list-style: none;
}

.side-header ul i {
    color: #676767;
    font-size: 20px;
}

.fa-linkedin-in:hover {
    color: #0069BC;
}

.fa-github:hover{
    color: #1F2328;
}

.fa-behance:hover{
    color: #005DF5;
}

.fa-basketball:hover{
    color: #EF4B87;
}

.fa-envelope:hover{
    color: #CA1E25;
}

.side-line {
    height: 100px;
    width: 4px;
    border-radius: 12px;
    background-color: #676767;
    margin: 2rem 0 0 68px;
}

.project-text-div {
    height: auto;
    margin-top: 2rem;
    margin-left: 220px;
    margin-right: 60px;
    padding-top: 6rem;
    /* background-color: blue; */
}

.project-text-div h2{
    font-size: 32px;
}

.projects-div1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    /* margin-top: 4rem; */
    /* margin-bottom: 4rem;
    background-color: blue; */
}

button {
    border: none;
    outline: none;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: white;
    /* background-color: #efe8ee; */
}

.button1 {
    margin-top: 4rem;
    border: 2px solid #573BA8;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.first-project {
    width: 100%;
    margin-bottom: rem;
    /* background-color: beige; */
}

.first-project-p {
    padding: 2rem 0 0.75rem;
    font-size: 20px;
}

.logo-text-img-div{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.logo-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    row-gap: 1rem;
}

.wecare-screen {
    width: 55%;
}

.logo-text-div img {
    width: 40%;
}


.resource-div {
    width: 100%;
    display: flex;
    flex-direction:column;
    row-gap: 0.75rem;
    /* border: 2px solid #573BA8; */
    padding: 2rem 0;
}

.resource-screen {
    width: 100%;
}

.resource-title {
    font-size: 20px;
}

.button2 {
    margin-top: 0.5rem;
    border: 2px solid #EC329C;
}
.button2 a {
    color: #EC329C;
    text-decoration: none;
    cursor: pointer;
}

.second-project {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 4rem;
}

.span1{
    /* color: white; */
    color: #010101;
    font-size: 24px;
}
.span2{
    font-family: 'Quintessential', cursive;
    color: #010101;
    font-size: 24px;
}


.second-project img {
    width: 100%;
}

.title {
    font-size: 20px;
    color: #6e6e6e
}

.button3 {
    border: 2px solid #A9282D;
    margin-top: 1rem;
}

.button4 {
    border: 2px solid #2E6BEF;
    margin-top: 1rem;
}

.second-project button a{
    color: #2E6BEF;
}
.projects-div2 {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    /* background-color: #EC329C; */
}

.skill-div {
    height: auto;
    margin-top: 6rem;
    margin-left: 220px;
    margin-right: 60px;
    margin-bottom: 4rem;
    /* background-color: #2E6BEF; */
}

.skill-div h2 {
    font-size: 32px;
}

.skills {
    margin: 2rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    /* background-color: aqua; */
}

.skills p {
    background-color: #f4f4f4;
    text-align: center;
    color: #404040;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 4px;
}

footer {
    background-color: #2A3E5E;
    /* width: 100%; */
    height: auto;
    padding: 3rem 0;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 28px;
    padding-left: 2rem;
}
 

.footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    font-size: 32px;
}

.footer-ul li {
    list-style: none;
    margin-top: 1rem;
}

.footer-ul li a{
    color: white;
}

.footer-ul li a i{
    font-size: 20px;
}

@media (max-width: 912px) {
    .logo-links-div {
        margin: 0 60px;
        column-gap: 1rem;
    }
    .display-div {
        display: block;
        margin: 60px;
        margin-top: 8rem;
    }
    .project-text-div {
        margin: 60px;
        padding-top: 7rem;
    }
    .logo-text-div {
        display: flex;
        justify-content: start;
        margin-top: 4rem;
    }
    .right-display {
        display: none;
    }
    .side-header {
        display: none;
    }
    .projects-div1 {
        display: block;
        margin-bottom: 1rem;
    }
    .resource-div {
        margin-top: 4rem;

    }
    .projects-div2 {
        display: block;
        width: 100%;
    }
    .second-project {
        width: 100%;
    }
    .button2 {
        margin-top: 1rem;
    }
    .button3 {
        margin-bottom: 2rem;
    }
    .skill-div {
        margin: 60px;
        padding-top: 7rem;
    }
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 280px) and (max-width: 539px) {
  
    .header{
        width: 100%;
    }
    .logo-links-div {
        margin: 0 24px;
        column-gap: 1rem;
    }
    .logo-links-div h2 {
        font-size: 20px;
    }
    .header-ul {
        display: none;
    }
    .menu-div {
        display: flex;
        text-align: right;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
        margin-left: 40px;
        /* background-color: aqua; */
    }
    .menu {
        margin-top: 0.75rem;
        display: none;
    }
    
    .display-div {
        display: flex;
        justify-content: center;
        margin: 24px;
        text-align: center;
        margin-top: 8rem;
    }
    .project-text-div {
        margin: 24px;
        padding-top: 7rem;
    }
    .skill-div {
        margin: 24px;
        padding-top: 7rem;
    }
    footer p {
        margin: 0 24px;
        text-align: center;
        padding-left: 0;
        font-size: 20px;
    }
}
